@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Jua&family=Kiwi+Maru:wght@300;400;500&family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --item-background:rgb(51, 48, 48);
}
/*divider*/


.custom-shape-divider-bottom-1733416954 svg {
    position: absolute;
   rotate: 180deg;
    width: calc(100% );
    height: 90px;
    top:-90px;
    transform: rotateY(180deg);
   
}

.custom-shape-divider-bottom-1733416954 .shape-fill {
   fill: rgb(14, 13, 11);;
    border: solid 1px;
}
body{
    background-color: #121212;
    color: white;
    font-family: "Oswald";
}
a{
    color: white;
    text-decoration: none;
}
ul, li{
    list-style: none;
}
.head{
    position: fixed;
    
    width: 100%;
    border: solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    z-index: 20;
    background-color: #121212;
}
.head ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;   
}
.home_position{
    border: solid 1px;
    height: 100vh;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.home__title{
    
    width:80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*circle point*/
.circle{
    position: relative;
    width: 500px;
    height: 500px;
    top:-280px;
    left: 100px;
    
}
.circle span{
    position: absolute;
  
    width: 500px;
    
    background-color: rgb(240, 41, 81);
    height: 500px;
    border-radius: 158px 177px 200px 122px;
-webkit-border-radius: 258px 177px 200px 122px;
-moz-border-radius: 158px 177px 200px 122px;
transition: .5s;
}
.circle:hover span{
    background-color: rgb(201, 148, 196);
}
.circle span:nth-child(1){
    animation: circle 10s infinite;
    rotate: 0deg;
    opacity: 0.5;
}

.circle span:nth-child(2){
     animation: circle 12s infinite;
    rotate: 10deg;
    opacity: 0.3;
}

.circle span:nth-child(3){
     animation: circle 17s linear infinite  reverse;
    rotate: 15deg;
    opacity: 0.7;
}
.circle-2:hover span{
    background-color: rosybrown;
}
.circle-2{
  
    position: relative;
    width: 190px;
    left: 400px;
    top: 90px;
    height: 190px;
}
.circle-2 span{
    position: absolute;
   
    width: 100%;
    height: 100%; 
    background-color: rgba(181, 121, 199, 0.993);
      border-radius: 158px 177px 200px 122px;
-webkit-border-radius: 258px 177px 200px 122px;
-moz-border-radius: 158px 177px 200px 122px;
transition: .5s;

}
.circle-2 span:nth-child(1){
    rotate: 20deg;
     animation: circle 17s linear infinite  reverse;
    opacity: 0.9;
}
.circle-2 span:nth-child(2){
    rotate: 40deg;
     animation: circle 11s linear infinite ;
    opacity: 0.5;
}.circle-2 span:nth-child(3){
    rotate: -90deg;
     animation: circle 12s linear infinite  reverse;
    opacity: 0.4;
}
.circle-3{
    position: absolute;
    width: 700px;
    height: 700px;
    bottom: 10px;
    left: -190px;
    transition: .5s;
    rotate: -45deg;
}

@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
     100%{
        transform: rotate(360deg);
    }
}
/* creative... title */
.pof_title{
    max-width: 700px;
    width: 700px;
    padding: 5px;
    position: relative;
    left: -250px;
    top:-100px;
    
}


.pof_title li{
    margin: 15px;
}
.pof_title li:nth-child(1){
    font-size: 5rem;
}

.pof_title li:nth-child(2){
    font-size: 3.5rem;
}
.pof_title li:nth-child(3){
    font-size: 4rem;
}
/*button*/
.contact_btn{
  
    display: flex;
    justify-content: space-between;
}
.contact_btn button{
    width: 100px;
    height: 25px;
    padding: 5px;
    border: solid 1px;
    background-color: rgb(90, 81, 82);
}

.title_img{
    width: 550px;
    border: solid 1px;
    height: 650px;
    border-radius: 50% 50% 0 0 ;
    position: relative;
}
.title_name{
    position: absolute;
    width: 100%;
   bottom: 100px;
    border: solid 1px;
    height: 100px;
    display: flex;
    align-items: center;
  
    justify-content: space-between;
    
}
.title_name h2{
    margin: 10px;
    font-size: 2rem;
   
}
.title_name .point{
    margin: 10px;
  
    width: 50px;
    height: 30px;
    position: relative;
}
.title_name .point span{
    position: absolute;
  
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 20px 10px 20px 10px;
}
.title_job{
    display: flex;
    align-items: center;
    justify-content: center;
  
    height: 75px;
    position: absolute;
    bottom: 20px;
    padding: 10px;
}
/*resume*/
.resume{
 
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.tab_content{
 
    height: 700px;
    width: 1500px;
  
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #121212;
}
.tab_lists{
    position: absolute;
    bottom: 30px;

    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    background-color: rgb(37, 36, 36);
}


.content-list{
    display: flex;
  
    justify-content: center;
    align-items: center;

    width: 100%;
}
.content-list div{
    width: 100%;
    height: 100%;
    
}
.content-list div:nth-child(1){
    width: 100%;
}
.content_item{
    margin-left: 10px;
    position: relative;
   
    overflow: hidden;
    transform: .5s;
}
.content_item .content_img {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}
.content_img li:nth-child(1) h1{
    font-size: 7rem;
}
#item01{
    background-image: url(./studying.jpg);
}
#item02{
    background-image: url(./education.jpg);
}
#item03{
    background-image: url(./work.jpg);
}
.content_board{
    position: absolute;
    cursor: pointer;
    background-color: rgb(14, 13, 11);
    height: 200px;
    transition: .7s;
    width: 100%;
    bottom: -600px;
}
.board-exp{
    width: 100%;
    text-align: center;
    position: absolute;
    top:50px;
    padding-bottom: 10px;
   
}
.plus-exp01{
 
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
}
.plus-exp{
    padding: 10px;
    font-size: 1rem;
}
.content_img_title{
    width: 100%;
    height: 100%;
}
.content_img_title img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.content_item:hover .content_board{
    bottom: -320px;
}
.content_item:hover{
    transition: .5s;
    border: solid 1px;
}

/*section03 project*/
.project{
    width: 100%;
    border: solid 1px;
    height: 90vh;
    position: relative;
    overflow: hidden;
}
.slide_project{
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}
.project_item{
    width: 100%;
    background-color: #121212;
    height: 100%;
}
.project_title{
    border: solid 1px;
    
}
.project_exp{
    margin-top: 10px;
    border: solid 1px;
    padding: 10px;
    background-color: rgb(14, 13, 11);
}
.project_item h1{
    font-size: 5rem;
}

.slide-wrap{
    left: 0;
    transition: .7s;
    position: absolute;
    top:0;
    width: 300%;
    height: 100%;
    background-color: #121212;
}
input{
    display: none;
 
}
.slide{
    float: left;
    height: 900px;
    border: solid 1px;
    width: 33.33333%;
}
.slide-btn{
    position: absolute;
    width: 500px;
    bottom: 20px;
    transform: translateX(-50%);
    left: 50%;
    height: 35px;
    border: solid 1px;
    display: inline-block;
}
.slide-btn label{
    border: solid 1px;
    position: absolute;
    width: 120px;
    height: 100%;
}

.slide-btn label:nth-child(1){
    left: 0;
}

.slide-btn label:nth-child(2){
    left: 190px;
}

.slide-btn label:nth-child(3){
    left: 380px;
}
input[id= "slide1"]:checked ~ .slide-wrap{
   left: 0%;
}
input[id= "slide2"]:checked ~ .slide-wrap{
   left: -100%;
}
input[id= "slide3"]:checked ~ .slide-wrap{
   left: -200%;
}
input[id= "slide1"]:checked ~ .slide-btn label[for = "slide1"]{
    background-color: aliceblue;
}
input[id= "slide2"]:checked ~ .slide-btn label[for="slide2"]{
   background-color: white;
}
input[id= "slide3"]:checked ~ .slide-btn label[for = "slide3"]{
   background-color: white;
}

.content_prop{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    border: solid 1px;
}
.slide_content_title{
    width: 20%;
    height: 100%;
    background-color: rgb(35, 34, 34);
    border: solid 1px;
}
.slide_project_img{
     border: solid 1px;
    height: 100%;
    width: 80%;
}
