@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Jua&family=Kiwi+Maru:wght@300;400;500&family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}

body{
  background-color: #121212;
  color: white;
   font-family: "Oswald";
}
a{
    text-decoration: none;
}

.head{
    width: 100%;
    position: fixed;
    padding: 10px;
 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.head li{
    margin-left: 10px;
    font-size: 2rem;
}
.head li a{
    color: white;
}
.show-box{
    display: flex;
    align-items: center;
    justify-content: center;
 
    width: 100%;
   
    height: 520px;
}
.boxs{

    width: 100%;
    height: 105%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;
}
.box-item{
    border: solid 1px;
    padding: 10px;
    width: 90%;
    position: absolute;
    transition: .5s;
    gap: 10px;
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}
.box-folder{
    background-color: rgb(255, 221, 190);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.box-folder > span{
  background-color: rgb(255, 221, 190);
    width: 200px;
    height: 50px;
    top:-20px;
    right: 0;
    border-radius: 10px 10px 0px 0px;
    position: absolute;
}
.folder-board{
    background-color: rgb(197, 186, 186);
    top:20px;
    overflow: hidden;
    border-radius: 10px;
    height: 90%;
    width: 90%;
    position: absolute;
}
.folder{
    position: relative;
    color: orangered;
    left: 10px;
    top:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    background-color: orangered;
    height: 50px;
    border-radius: 5px;
 
}
.folder:nth-child(2){
    top:25px;
    background-color: blue;
}
.folder:nth-child(2) span{
    background-color: blue;
}
.folder:nth-child(3){
    top:40px;
    background-color: rgb(255, 208, 0);
}
.folder:nth-child(3) p{
    color: black;
}
.folder:nth-child(3) span{
    background-color: rgb(255, 208, 0);
}
.folder p{
    font-weight: 900;
    position: absolute;
    color: white;
}
.folder span{
    border-radius: 5px;
    position: absolute;
  

    width: 40px;
    top:-5px;
    left: 0px;
    height: 20px;
    background-color: orangered;  
}
.box-side-container{
    border: solid 1px;
    height: 100%;
}
.chart{
    border: solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.chart ul{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#icon{
    font-size: 3rem;
    
}
.chart-bar{
    margin-left: 10px;
    width: 500px;
    height: 20px;
    padding: 5px;
    top:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: solid 1px;
}
.chart-bar span{
    width: 90%;
   
    height: 10px;
    position: absolute;
    border: solid 1px;
}

.slide-container{
    margin-top: 20px;
    height: 280px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    flex-direction: column;
}
.slide{
   
    width: 1000px;
    height: 80%;
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.slide-wrap{
    transition: .5s;
    padding: 1px;
    position: absolute;
    height: 80%;
    width: 1400px;
    display: grid;
    grid-template-rows: 1fr ;
    gap: 10px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 230px);
  
}
.slide-item{
    cursor: pointer;
    height: 200px;
    position: relative;
     
}
.slide-item span{
    position: absolute;
    border-radius: 70% 70% 60% 60%;
    width: 90%;
    height: 90%;
    animation: circleAni 7s infinite linear;
    border: solid 1px;
    transition: .3s;
}
.slide-item span:nth-child(1){
    rotate: 10deg;
    
    opacity: 0.7;
}
.slide-item span:nth-child(2){
    rotate: 15deg;
     opacity: 0.5;
     animation: circleAni 7s infinite linear reverse;
}.slide-item span:nth-child(3){
    rotate: -5deg;
     opacity: 0.2;
   
}
#item-crimson:hover span{
    background-color: crimson;
    border: none;
}
#item-yellow-green:hover span{
    border: none;
    background-color: yellowgreen;
}
#item-blue:hover span{
    border: none;
    background-color: rgb(87, 87, 189);
}
#item-purple:hover span{
    border: none;
    background-color: blueviolet;
}
@keyframes circleAni {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate3d(180deg);
    }
    75%{
        transform: rotate(240deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.slide-btn{
    width: 300px;
    align-items: center;
    justify-content: center;
    
    display: flex;
    margin-top: 20px;
}
.slide-btn li{
    margin-right: 10px;
}
.slide-btn button{
    border-radius: 20px;
    border: none;
    transition: .3s;
    padding: 10px;
}
button:hover{
    background-color: black;
    color: white;
}
